*{
    margin: 0;
    padding: 0;
    --logo-load-time: 200ms;
    --header-load-time: 400ms;
    --ul-load-time: 600ms; 
}

.top{
    width: 100%;
      /*  background: linear-gradient(to left,  #7edfe4, #07fff3, #FFC107); */ 
    position: fixed;
    background: linear-gradient(to left,   #ff4007,#FFC107 );
}
.container{
    width: 100%;
    margin: 0 auto;
    color: #fff;
}
.container .profiles01{
    /* width: 50%;
    margin-left: -28rem; */
    margin-top: -2rem;
}
.profiles01 img{
    width: 350px;
    height: 450px;
}
.ups{
    width: 50%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 50%;   */
}
.ups1{
    /* width: 100%; */
    /* margin-left: 20rem; */
}
.logo{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: sandybrown;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid #fff;
    margin-top: 4em;
    margin-left: 5em;
    margin-bottom: 1rem;
    animation: fadeIn 500ms ease-in var(--logo-load-time);
    animation-fill-mode: forwards;
    transform: translateY(-20px);
    opacity: 0;
    
}
.logo h2{
    font-size: 1.2rem;
}
.content h1{

    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: .5rem;
    letter-spacing: 2px;
    animation: header-onload 300ms ease-in var(--header-load-time);
    animation-fill-mode: forwards;
    transform: translateX(-20px);
    opacity: 0;
}
.content p{
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: .5px;
    margin-bottom: 1em;
    /* margin-left: -2rem; */
    width: 400px;
    animation: header-onload 300ms ease-in var(--header-load-time);
    animation-fill-mode: forwards;
    transform: translateX(-20px);
    opacity: 0;
}
.fas{
    margin: 0 .5rem;
    width: 100%;
    padding-left: .2rem;
}
.ul{
   display: flex ;
    margin-left: -.8rem;
    padding-bottom: 10em;
    animation: ul-onload 300ms ease-in var(--ul-load-time);
    animation-fill-mode: forwards;
    transform: translateY(-20px);
    opacity: 0; 
}
ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1em;
    text-decoration: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    /*background-color: #ff9c07;*/
    border: 2px solid #2e86de;
    position: relative;
}
ul li i{
    color:  #000;
}
ul li:before{
    content: "";
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: #2e86de;
    border-radius: 50%;
    transition: all 0.3s linear;
    z-index: -1;
    opacity: 0;
}
ul .git:before{
    background-color:#000;
}
ul li:hover:before{
    transform: scale(0.8);
    opacity: 1;
}
ul li:hover i{
    color: white;
}
ul .git:hover i{
    color: #fff;
} 

.btn{
    padding: .2rem 1.5rem;
    border-radius: 10px;
    border: 1px solid rgb(73, 60, 60);
    font-weight: 800;
    background-color: sandybrown;
    color: #fff;
}
.btn:hover{
    background-color: rgb(231, 222, 222);
    color: rgb(73, 60, 60);
}
.second{
    position: relative;
    width: 60%;
    margin: 0 auto;
    background-color: rgb(73, 60, 60);
    color: #fff;
    top: 65vh;
  
    border-radius: 10px;
}
.fade-in{
    position: relative;
    width: 100%;
    opacity: 0;
    transition: opacity 250ms ease-in;
}
.fade-in.appear{
    opacity: 1;
}
h3{
    padding: 1em 0 1rem 0;
    font-size: 2em;
    letter-spacing: 2px;
    font-weight: 800;
}
p{  

    margin-bottom: 1em;
    display: flex;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.2;   
}
.moreMore{
    text-align: center;
    /*margin-top: 7.5em;*/
    font-weight: 500;
    color: #fff;
    font-size: 1rem;
    padding-top: 1rem;
    padding-bottom: 0;
}
.standard{
    width: 100%;
}
.standard-wrapper{
    width: 90%;
    margin: 0 auto;
}
.standards{
    font-size: 1.4rem;
    margin: 0 0 1rem 0;
    font-weight: 800;
    letter-spacing: 2px;
}
.standard-paragpraph{
    font-size: 1.2rem;
    letter-spacing: 1px;
    padding-bottom: 5px;
}
.about01 p:nth-child(3){
    margin-bottom: 1em;
    width: 100%;
    font-size: 1.2rem;
}
.Aboutss{
    display: flex;
    justify-content: space-between;
}
.about01{
    width: 90%;
    margin: 0 auto;
}
.profile{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #fff;
    margin: .5rem 2em 0 0;  
     /*position: absolute;
   margin-top: -17em;
    margin-left: 35em; */
    border: 2px solid #ff9c07;
    
}
.tag{
    position: absolute;
    font-weight: 700;
    font-size: 1.5rem;
    padding: 0 1rem;
    background-color: #ff9c07;
    border-radius: 5px;
    z-index: 1000;
    margin-left: 39%;
    margin-top: -.5rem;
    color: #000;
}
.wrap{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}
.wrapper{
    width: 380px;
    height: 18em;
    background-color: #fff;
    margin: .5rem .5rem;
    position: relative;
    color: #000;
}
.wrapper:hover{
    transform: scale(1.05);
}
.wrapper p{
    margin: 2em auto;
    font-size: 1.2rem;
    letter-spacing: 1px;
    font-weight: 500;
    width: 80%;
   text-align: center;

}
.wrapper h4{
    text-align: center;
    margin-top: 1rem;
    font-size: 2rem;
    letter-spacing: 2px;
    font-weight: 800;
}
.wrapper .more{
    margin: .5rem 5em 1rem 5em;
    padding: .2rem 1rem;
    background-color: #ff2907;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    font-weight: 800;
}
hr{
    margin-bottom: 8px;
}
.more:hover{
    background-color: rgb(236, 214, 214);
    color: rgb(73, 60, 60);
}
.proqua{
    position: relative;
    margin: 1em auto;
    width: 90%;

    background-color: rgb(171 230 233 / 20%);
    color: #000;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.fade-in1{
    opacity: 0;
    transition: opacity 250ms ease-in;
}
.fade-in1.appear{
    opacity: 1;
}
.inner{
    display: flex;
    justify-content: space-between;
}
.process{
    position: relative;
    width: 45%;
    padding: 1rem 0 1em 0;
    margin: 1em 1em;    
    background-color: rgb(255 152 0 / 5%);
    color: #fff;
}
.process h6{
    padding: 1rem 0 0 1rem;
    font-size: 2em;
    letter-spacing: 2px;
    font-weight: 800;
}
.process p{
    font-size: 1.2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: left;
    line-height: 1.5em;
    margin: 1em auto;
}
.qualification{
    position: relative;
    width: 45%;
    padding: 1rem 0 1em 0;
    margin: 1em 1em;    
    background-color: rgb(255 152 0 / 5%);
    color: #fff;
}
.qualification h6{
    padding: 1rem 0 0 1rem;
    font-size: 2em;
    letter-spacing: 2px;
    font-weight: 800;
}
.qualification p{
    font-size: 1.2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: left;
    line-height: 1.5em;
    margin: 1em auto;
}
.contact{
    width: 100%;
    height: 16em;
}
.contact h8{
    text-align: left;
    font-size: 1.5em;
    font-weight: 800;
    letter-spacing: 1px;
    display: block;
    color:#fff;
    padding: 1rem 0 0 2em;
}
.fade-in2{
    opacity: 0;
    transition: opacity 250ms ease-in;
}
.fade-in2.appear{
    opacity: 1;
}
.up{
    height: 2em;
    display: block;
    margin: 1em auto;
    width: 60%;
    border-radius: 10px;
    padding: .2rem 1rem;
    
}
.down{
    height: 5em;
    display: block;
    margin: 1em auto;
    width: 60%;
    border-radius: 10px;
    padding-bottom: .4rem ;
    padding-right: 1rem;
    padding-left: 1rem;
}
.btn2{
    padding: .2rem 1rem;
    background-color: #03a9f487;
    color: #fff;
    border-radius: 10px;
    margin-top: .5rem;
    margin-left: 40%;
    margin-bottom: 1em;
}
.footer{
    text-align: center;
    width: 100%;
    height: 15em;
    background-color: #000;
  
}
.epal{
    font-size: 3em;
    font-weight: 900;
    color: #fff;
    padding-top: 1em;
    margin-top: 0;
    display: block;
    margin-bottom: 1em;
}
.epal span{
    color: yellow;
}
.fa{
    margin: 0 1em;
}

a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.copy{
    margin: 1em auto;
    font-size: 1.2rem;
    font-weight: 500;
}


   
    /*@media (max-device-width: 920px){
        .ups h1{
            font-size: 1.2rem;
            font-weight: 700;
            margin: 1rem auto;
            letter-spacing: 1px;
            margin-left: 10%;
        }  
    
        .container p{
        font-size: 1.5rem;
        color: #fff;
        width: 500px; 
        font-weight: 500;
        letter-spacing: .5px;
        margin-bottom: 1em;
        margin-left: 16%;
        
    }
}*/
@keyframes fadeIn {
    0%{
        transform: translateY(-20px);
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
  
       
    
@keyframes header-onload{
    0% {
        transform: translateX(50px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes ul-onload{
    0% {
        transform: translateY(20px);
        opacity: 0;
    }
    75% {
        transform: translateY(-5px);
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}







@media (max-width: 1520px){
    .second{
        top: 60vh;
    }
    .ul{
        padding-bottom: 10em;
    }
}

@media (max-width: 1366px){
    .second{
        top: 65vh;
    }
    /*.about01{
        width: 78%;
    }*/
    .wrapper{
        width: 360px;
        background-color: #fff;
        margin: .5rem .5rem;
        position: relative;
        color: #000;
    }
}
@media (max-width: 1080px){
    .wrapper{
        width: 300px;
        background-color: #fff;
        margin: .5rem .5rem;
        position: relative;
        color: #000;
    }
    .second{
       
        width: 80%;
        
    }

}
@media (max-width: 1024px)

{     
    .top{
        position: absolute;
    }
    .second{
        position: relative;
        width: 100%;
        margin: 0 auto;
        background-color: rgb(73, 60, 60);
        color: #fff;
        border-radius: 10px;
        top: 35vh;
    }
    /* .ups1{
        width: 100%;
        text-align: center;
    } */
    /* .content h1{
        margin-left: -6.5em;
    }
    .logo{
        margin-left: 9em;
    }
    .fas {
        padding-left: 2rem;
    } */
    /* .container {
        width: 80%;
        margin: 0 auto;
    } */
    /* .container .profiles01 {
        width: 50%;
        margin-top: -2rem;
    } */
    /*.container h1{
        font-size: 2.8rem;
        font-weight: 600;
        margin-bottom: .5rem;
        letter-spacing: 2px;
    }
    .moreMore{
        text-align: center;
        padding: 3em 0 5em 0;
        font-weight: 500;
        color: #fff;
        font-size: 1rem;

    }
    .container p{
        font-size: 1.2rem;
        font-weight: 500;
        letter-spacing: .5px;
        margin-bottom: 1em;
        margin-left: -1.8rem;
        width: 70%;
    } 
  
    .profile{
        width: 120px;
        height: 120px;
        border-radius: 50%;
        background-color: #fff;
    
     
        border: 2px solid #ff9c07;
    }
    
    .wrap{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        
    }*/
    .wrapper{
        /* width: 340px; */
        background-color: #fff;
        margin: .5rem .5rem;
        position: relative;
        color: #000;
    }
    .tag{
        margin-left: 42%;
    }
   
    /* .container p{
   
        font-size: 1.2rem;

    } */
    

  
    
}

@media (max-width: 920px){
    .top{
        padding-bottom: 1em;
       
    }
    /* .content p{
        margin-left: -2rem;
    } */
    .container{
    color: #000;
    padding-top: 0;
    position: relative;
    width: 100%;
    color: #fff;
    }
    .container h1{
        font-size: 2rem;
 
    }
    /* .container p{
   
        font-size: 1.2rem;

    } */
    .profile{
        margin: 1em 2em 0 0;
    }

    .ups{
        width: 50%;
        margin: 2em auto;
    }
    .ups1{
        width: 90%;
    }
    .logo{
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin-left: 3.5rem;
    }
    .logo h2{
        font-size: 1.3rem;
    }
    .ul{
        display: flex ;
        margin-left: -5rem;
     }

    .fas{
        padding-left: 20%;
    }
    .moreMore{
        text-align: center;
        /*margin-top: 2em;
        padding: 2em 0 8em 0;*/
        font-weight: 500;
        color: #fff;
        font-size: 1rem;  
    }
    .second{
        width: 100%;
        background-color: rgb(73, 60, 60);
        color: #fff;
        top: 50vh;
        border-radius: 10px;
        border-radius: 0;
    }
    .tag{
        position: relative;
        font-weight: 700;
        font-size: 1.5rem;
        margin-top: 2em;
        padding: .2rem .2rem;
        background-color: #ff9c07;
        border-radius: 5px;
        z-index: 1000;
        margin-left: 35%;
        margin-right: 35%;
        text-align: center;
        margin-bottom: 1em;
    }
    h3{
        padding: 1.5rem 1rem;
        font-size: 2.5rem;
        letter-spacing: 1px;
        font-weight: 600;
    }
    .about01 p{
        padding: 1rem;
       
        /* margin: 1rem; */
        margin-bottom: 1em;
        font-size: 1.2rem;
    }
    .about01 p:nth-child(3){
        margin-bottom: 1em;
        width: 90%;
     
        font-size: 1.2rem;
    }
    .proqua{
        margin: 2em auto;
        display: block;
    }
    .process{ 
        width: 50%; 
        margin-bottom: .5rem;  

    }
    .inner{
        width: 100%;
        margin: 1em auto;
        
    }
    .process h6{
        padding: .5rem 0 0 1rem;
        font-size: 2em;
        letter-spacing: 2px;
        font-weight: 800;
    }
    .process p{
        font-size: 1rem;

        
        text-align: left;
        line-height: 1.2em;
        margin: 1em auto;
        
    }

    .qualification{
      
        width: 50%;
    
    }
    .wrapper{
        width: 320px;
        height: 18em;
        background-color: #fff;
        margin: .5rem .5rem;
        position: relative;
        color: #000;
    }
    .btn2{
        margin-left: 40%;
    }
    .footer{
        text-align: center;
        width: 100%;

        background-color: #000;
    
    }
    .epal{
        font-size: 2em;
        font-weight: 900;
        padding-top: 1.5rem;
    }
    .epal span{
        color: yellow;
    }
    .fa{
        margin: 0 1em;
    }

    a{
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
    }

    .copy{
        margin: 1em auto;
        font-size: 1rem;
        font-weight: 500;
    }
    .contact{
        width: 100%;
        background-color: #000;
    }
   
}

@media (max-width: 640px){
     .btn{
         padding: .5rem .8em;
     }
    .top{
        /* position: fixed; */
        padding-bottom: 10em;
    }
    .container{
      width: 100%;
      color: #fff;
    }
    .moreMore{
        text-align: center;
        /*margin-top: 1em;
        padding: 2em 0 10em 0;*/
        font-weight: 500;
        color: #fff;
        font-size: 1rem;
       
    }
    .logo{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-left: 6.5rem;
    }
    .logo h2{
        font-size: 1rem;
    }
    /* .ups1{
        width: 100%;
       
    } */
    .profiles01 img{
        width: 210px;
        height: 300px;
    }
    .container .profiles01{
        /* width: 50%;
        */
        margin-top: -7rem;
   
    }
    .ups{
        margin: 0 auto 1rem auto;
      
    }
    .ul{
        display: flex ;
        margin-left: -.6rem;
     }
    .content h1{
        width: 315px;
        font-size: 2rem;
        font-weight: 600;
        margin: 1rem 1rem 1rem 3rem;
        letter-spacing: 1px;
    }
    .content p{
        width: 300px;
        font-size: 1.2rem;
        margin: 0 1rem 2rem 3rem;
        color: #fff;
    }
    p{
        width: 100%;
        margin-bottom: 1em;
        font-size: 1.2rem;
    }
   
    .fas{
        padding-left: 3rem;
        width: 315px;
    }
    .second{
        width: 100%;
        background-color: rgb(73, 60, 60);
        color: #fff;
        top: 60vh;
        border-radius: 10px;
        border-radius: 0;
        z-index: 1000;
    }
    .tag{
        position: relative;
        font-weight: 700;
        font-size: 1.5rem;
        padding: .5rem .2rem;
        background-color: #ff9c07;
        border-radius: 5px;
        z-index: 1000;
        margin-left: 20%;
        margin-right: 20%;
        text-align: center;
        margin-top: 1.5rem;
    }
    .profile{

        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: #fff;
        border: 2px solid #ff9c07;
        margin: -1rem 1em 0 0;
    }

    h3{
        padding: 1em 0 1rem 1rem;
        font-size: 1.8em;
        letter-spacing: 1px;
        font-weight: 600;
    }
    .about01 p{
        width: 90%;
        padding: .5rem 1em 0 1rem;
        margin-bottom: 1em;
        font-size: 1.2rem;
        letter-spacing: 1px;
    }
    .about01 p:nth-child(3){
        font-size: 1.2rem;
   
     }
    .wrapper p{
        width: 100%;
        padding: 0 1em 0 2rem;
        margin-bottom: 3em;
        font-size: 1rem;
        letter-spacing: 1px;
        
    }
    .wrapper{
        /* width: 280px; */
        height: 18em;
        background-color: #fff;
        margin: .5rem .5rem;
        position: relative;
        color: #000;
    }
    .wrapper h4{
        margin-top: 2rem;
    }
    .wrapper .more{
        margin: 1rem 4em -1rem 4em;
        padding: .2rem 1rem;
        background-color: #ff2907;
        border-radius: 10px;
        text-align: center;
        color: #fff;
        font-weight: 800;
    }
    .wrapper p{
    
        width: 90%;
        margin: 2em auto 0 -1rem;
    }
    .proqua{
        margin: 0 auto;
        background-color: #fff;
        display: block;
        width: 100%;
        
    }
    .inner{
        display: block;
        z-index: 1000; 
      
    }

    .process{
        
        width: 90%; 
        margin: 0 auto;
        margin-bottom: .5rem;  
        color: #000;
        
    }

    .process h6{
        padding: 1rem 0 0 1rem;
        font-size: 2em;
        letter-spacing: 2px;
        font-weight: 800;
    }
    .process p{
        width: 90%;
        font-size: 1.2rem;
        padding-left: 1rem;
        padding-right: 1rem;
        text-align: left;
        line-height: 1.5em;
        margin: 1em auto;
        
    }
    .qualification{
        width: 90%;
        color: #000;
  
    }
    .qualification p{
        font-size: 1.2rem;
    }
    .btn2{
        margin-left: 30%;
    }
    .footer{
        text-align: center;
        width: 100%;
        background-color: #000;
    
    }
    .epal{
        font-size: 2em;
        font-weight: 9800;
        padding-top: 1.5rem;
    }
    .epal span{
        color: yellow;
    }
    .fa{
        margin: 0 1em;
    }

    a{
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
    }
    .copy{
        margin: 1em auto;
        font-size: 1rem;
        font-weight: 500;
    }
    .contact{
    background-color: rgb(39, 31, 31);
    }
}
